In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv
/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
credits_data=pd.read_csv("/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv")
movies_data=pd.read_csv("/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv")

In [4]:
credits_data.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies_data.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
print("CREDITS Data:",credits_data.shape)
print("Movies Data:",movies_data.shape)

CREDITS Data: (4803, 4)
Movies Data: (4803, 20)

In [7]:
credits_data.isnull().sum(axis=0)

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [8]:
movies_data.isnull().sum(axis=0)

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [9]:
credits_column_rename=credits_data.rename(index=str,columns={"movie_id":"id"})

In [10]:
credits_column_rename.head()

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movies_data_merge=movies_data.merge(credits_column_rename,on="id")

In [12]:
movies_data_merge.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [13]:
movies_data_merge.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [14]:
movies_data_merge.drop(columns=["title_x"],inplace=True)
movies_data_merge.rename(columns={"title_y":"title"},inplace=True)

In [15]:
movies_data_merge.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count',
       'title', 'cast', 'crew'],
      dtype='object')

In [16]:
movies_cleaned_df=movies_data_merge.drop(columns=["homepage","status","production_companies"])
movies_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   id                    4803 non-null   int64
 3   keywords              4803 non-null   object
 4   original_language     4803 non-null   object
 5   original_title        4803 non-null   object
 6   overview              4800 non-null   object
 7   popularity            4803 non-null   float64
 8   production_countries  4803 non-null   object
 9   release_date          4802 non-null   object
 10  revenue               4803 non-null   int64
 11  runtime               4801 non-null   float64
 12  spoken_languages      4803 non-null   object
 13  tagline               3959 non-null   object
 14  vote_average          4803 non-null   float64
 15  vote_count            4803 non-null   int64
 16  title                 4803 non-null   object
 17  cast                  4803 non-null   object
 18  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(12)
memory usage: 750.5+ KB

In [17]:
movies_cleaned_df.columns

Index(['budget', 'genres', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'tagline',
       'vote_average', 'vote_count', 'title', 'cast', 'crew'],
      dtype='object')

# Applying the weighted average technique for each movie's average rating

In [18]:
v=movies_cleaned_df["vote_count"]
R=movies_cleaned_df["vote_average"]
c=movies_cleaned_df["vote_average"].mean()
m=movies_cleaned_df["vote_average"].quantile(0.7)

In [19]:
movies_cleaned_df["weighted_average"]=((R*v)+(c*m))/(v+m)

In [20]:
movies_cleaned_df.head(2)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,tagline,vote_average,vote_count,title,cast,crew,weighted_average
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.199371
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.898799

In [21]:
movie_sorted_ranking=movies_cleaned_df.sort_values("weighted_average",ascending=False)
movie_sorted_ranking[['original_title', 'vote_count', 'vote_average', 'weighted_average', 'popularity']].head(20)

,original_title,vote_count,vote_average,weighted_average,popularity
1881,The Shawshank Redemption,8205,8.5,8.498035,136.747729
3337,The Godfather,5893,8.4,8.397379,143.659698
662,Fight Club,9413,8.3,8.298430,146.757391
3232,Pulp Fiction,8428,8.3,8.298246,121.463076
1818,Schindler's List,4329,8.3,8.296588,104.469351
3865,Whiplash,4254,8.3,8.296528,192.528841
2294,千と千尋の神隠し,3840,8.3,8.296155,118.968562
2731,The Godfather: Part II,3338,8.3,8.295577,105.792936
65,The Dark Knight,12002,8.2,8.198824,187.322927
809,Forrest Gump,7927,8.2,8.198220,138.133331
1990,The Empire Strikes Back,5879,8.2,8.197601,78.517830
690,The Green Mile,4048,8.2,8.196517,103.698022
1847,GoodFellas,3128,8.2,8.195495,63.654244
3057,American History X,3016,8.2,8.195328,73.567232
3719,One Flew Over the Cuckoo's Nest,2919,8.2,8.195173,127.525581
2170,Psycho,2320,8.2,8.193930,93.067866
4602,12 Angry Men,2078,8.2,8.193226,59.259204
1987,ハウルの動く城,1991,8.2,8.192931,49.549984
2247,もののけ姫,1983,8.2,8.192902,60.732738
1663,Once Upon a Time in America,1069,8.2,8.186871,49.336397

In [22]:
popularity_movie=movie_sorted_ranking.sort_values("popularity",ascending=False)
popularity_movie[['original_title', 'vote_count', 'vote_average', 'weighted_average', 'popularity']].head(20)

,original_title,vote_count,vote_average,weighted_average,popularity
546,Minions,4571,6.4,6.399549,875.581305
95,Interstellar,10867,8.1,8.098763,724.247784
788,Deadpool,10995,7.4,7.399204,514.569956
94,Guardians of the Galaxy,9742,7.9,7.898758,481.098624
127,Mad Max: Fury Road,9427,7.2,7.199213,434.278564
28,Jurassic World,8662,6.5,6.499685,418.708552
199,Pirates of the Caribbean: The Curse of the Bla...,6985,7.5,7.498651,271.972889
82,Dawn of the Planet of the Apes,4410,7.3,7.298168,243.791743
200,The Hunger Games: Mockingjay - Part 1,5584,6.6,6.599391,206.227151
88,Big Hero 6,6135,7.8,7.798137,203.734590
108,Terminator Genisys,3631,5.8,5.800538,202.042635
26,Captain America: Civil War,7241,7.1,7.099068,198.372395
3865,Whiplash,4254,8.3,8.296528,192.528841
65,The Dark Knight,12002,8.2,8.198824,187.322927
270,The Martian,7268,7.6,7.598611,167.932870
96,Inception,13752,8.1,8.099022,167.583710
124,Frozen,5295,7.3,7.298474,165.125366
9,Batman v Superman: Dawn of Justice,7004,5.7,5.700375,155.790452
0,Avatar,11800,7.2,7.199371,150.437577
662,Fight Club,9413,8.3,8.298430,146.757391

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
scaling=MinMaxScaler()
scaled_data=scaling.fit_transform(movies_cleaned_df[["weighted_average","popularity"]])
movie_normalized_df=pd.DataFrame(scaled_data,columns=["Scaled_weighted_average","Scaled_popularity"])
movie_normalized_df.head(5)

   Scaled_weighted_average  Scaled_popularity
0                 0.780797           0.171815
1                 0.730063           0.158846
2                 0.628938           0.122635
3                 0.848232           0.128272
4                 0.595228           0.050169

In [25]:
movies_cleaned_df[["Scaled_weighted_average","Scaled_popularity"]]=movie_normalized_df

In [26]:
movies_cleaned_df.head(2)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_countries,release_date,...,spoken_languages,tagline,vote_average,vote_count,title,cast,crew,weighted_average,Scaled_weighted_average,Scaled_popularity
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.199371,0.780797,0.171815
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.898799,0.730063,0.158846

In [27]:
movies_cleaned_df['score'] = movies_cleaned_df['Scaled_weighted_average'] * 0.5 + movies_cleaned_df['Scaled_popularity'] * 0.5
movies_scored_df = movies_cleaned_df.sort_values(['score'], ascending=False)
movies_scored_df[['original_title', 'Scaled_weighted_average', 'Scaled_popularity', 'score']].head(20)

,original_title,Scaled_weighted_average,Scaled_popularity,score
95,Interstellar,0.932606,0.827162,0.879884
546,Minions,0.645794,1.000000,0.822897
94,Guardians of the Galaxy,0.898847,0.549462,0.724155
788,Deadpool,0.814527,0.587690,0.701108
127,Mad Max: Fury Road,0.780770,0.495989,0.638379
3865,Whiplash,0.965987,0.219887,0.592937
65,The Dark Knight,0.949496,0.213941,0.581718
1881,The Shawshank Redemption,1.000000,0.156179,0.578090
3337,The Godfather,0.983010,0.164074,0.573542
199,Pirates of the Caribbean: The Curse of the Bla...,0.831313,0.310620,0.570966
28,Jurassic World,0.662696,0.478206,0.570451
662,Fight Club,0.966308,0.167611,0.566960
96,Inception,0.932650,0.191397,0.562024
88,Big Hero 6,0.881863,0.232685,0.557274
809,Forrest Gump,0.949394,0.157762,0.553578
3232,Pulp Fiction,0.966277,0.138723,0.552500
2294,千と千尋の神隠し,0.965924,0.135874,0.550899
3719,One Flew Over the Cuckoo's Nest,0.948879,0.145647,0.547263
2731,The Godfather: Part II,0.965827,0.120826,0.543326
1818,Schindler's List,0.965997,0.119314,0.542656